In [1]:
import pandas as pd
import numpy as np

In [3]:
# consumer level
cons = pd.read_parquet("/uss/hdsi-prismdata/q2-ucsd-consDF.pqt")
cons.sample(10)

      prism_consumer_id evaluation_date  credit_score  DQ_TARGET
1608               1608      2021-08-01         746.0        0.0
9464               9464      2023-06-19         475.0        NaN
8752               8752      2023-10-21         441.0        1.0
7571               7571      2023-01-05         568.0        1.0
5606               5606      2023-12-06         600.0        0.0
5295               5295      2023-11-13         599.0        0.0
5415               5415      2023-08-31         646.0        0.0
9756               9756      2023-02-28         669.0        NaN
5978               5978      2023-04-24         587.0        0.0
11877             11877      2021-12-09         608.0        0.0

In [4]:
# count DQ distribution (3000 NaNs verified)
cons['DQ_TARGET'].value_counts()

DQ_TARGET
0.0    10994
1.0     1006
Name: count, dtype: int64

In [5]:
# w/ DQ only
w_dq = cons[cons['DQ_TARGET'].notna()]
# w/o DQ only
wo_dq = cons[cons['DQ_TARGET'].isna()]
# check all entries covered
assert(len(w_dq)+len(wo_dq) == len(cons))

In [6]:
# account level
acc = pd.read_parquet("/uss/hdsi-prismdata/q2-ucsd-acctDF.pqt")
acc.sample(10)

      prism_consumer_id prism_account_id account_type balance_date   balance
13777              6754            13777     CHECKING   2023-04-15     23.67
2291               1283             2291     CHECKING   2021-01-31   1153.85
5015               1624             5015      SAVINGS   2021-05-28    544.34
14430              7360            14430     CHECKING   2023-11-18   2534.80
7304               2250             7304     CHECKING   2021-02-28    161.11
13498              5741            13498      SAVINGS   2023-10-04      0.09
13947              8553            13947     CHECKING   2023-09-08  17082.98
15420              6245            15420     CHECKING   2023-10-09   1213.20
11884              9108            11884     CHECKING   2023-06-20    657.88
21311             11939            21311     CHECKING   2022-01-14   1170.87

In [10]:
acc['account_type'].value_counts()

account_type
CHECKING           15467
SAVINGS             7751
CREDIT CARD          691
LOAN                 127
LINE OF CREDIT        93
CONSUMER              73
BROKERAGE             66
CD                    45
MONEY MARKET          36
AUTO                  29
MORTGAGE              22
PREPAID               19
OTHER                 12
IRA                    9
ROTH                   5
CASH MANAGEMENT        5
401K                   4
RETIREMENT             3
STUDENT                2
HSA                    2
OVERDRAFT              2
MONEYMARKET            1
STOCK PLAN             1
HOME EQUITY            1
Name: count, dtype: int64

In [7]:
# account types
nan = acc['account_type'].isna().sum()
print(f'NaNs: {nan}')
acc['account_type'].value_counts()

NaNs: 0

account_type
CHECKING           15467
SAVINGS             7751
CREDIT CARD          691
LOAN                 127
LINE OF CREDIT        93
CONSUMER              73
BROKERAGE             66
CD                    45
MONEY MARKET          36
AUTO                  29
MORTGAGE              22
PREPAID               19
OTHER                 12
IRA                    9
ROTH                   5
CASH MANAGEMENT        5
401K                   4
RETIREMENT             3
STUDENT                2
HSA                    2
OVERDRAFT              2
MONEYMARKET            1
STOCK PLAN             1
HOME EQUITY            1
Name: count, dtype: int64

In [8]:
# transaction level
txn = pd.read_parquet("/uss/hdsi-prismdata/q2-ucsd-trxnDF.pqt")
txn.sample(10)

,prism_consumer_id,prism_transaction_id,category,amount,credit_or_debit,posted_date
3837520,10961,3835508,1,14.00,CREDIT,2021-09-21
4012068,14792,4010056,14,21.58,DEBIT,2021-08-30
5185063,13182,5183051,17,8.35,DEBIT,2021-07-12
2453003,5132,2450991,14,1.60,DEBIT,2023-07-03
3467740,10594,3465728,23,12.00,DEBIT,2021-05-07
6346398,12902,6344386,14,50.12,DEBIT,2021-06-03
981443,4565,980733,0,150.00,DEBIT,2021-02-15
1830125,8855,1828113,0,9.00,DEBIT,2023-01-23
325362,1830,325169,0,0.88,DEBIT,2022-03-06
3052506,10873,3050494,16,10.81,DEBIT,2021-12-04

In [8]:
txn[txn['prism_consumer_id'] == '3023']

,prism_consumer_id,prism_transaction_id,category,amount,credit_or_debit,posted_date
0,3023,0,4,0.05,CREDIT,2021-04-16
1,3023,1,12,481.56,CREDIT,2021-04-30
2,3023,2,4,0.05,CREDIT,2021-05-16
3,3023,3,4,0.07,CREDIT,2021-06-16
4,3023,4,4,0.06,CREDIT,2021-07-16
...,...,...,...,...,...,...
200,3023,200,39,10.91,DEBIT,2021-09-17
201,3023,201,4,81.73,DEBIT,2021-09-18
202,3023,202,16,21.85,DEBIT,2021-09-20
203,3023,203,45,25.00,DEBIT,2021-09-20
204,3023,204,45,200.00,DEBIT,2021-09-20

In [9]:
# numerical category mapping
mapping = pd.read_csv("/uss/hdsi-prismdata/q2-ucsd-cat-map.csv")
mapping.sample(5)

    category_id             category
2             2              DEPOSIT
23           23         ACCOUNT_FEES
46           46             GAMBLING
6             6               REFUND
26           26  CREDIT_CARD_PAYMENT

In [10]:
mapping

    category_id               category
0             0          SELF_TRANSFER
1             1      EXTERNAL_TRANSFER
2             2                DEPOSIT
3             3               PAYCHECK
4             4          MISCELLANEOUS
5             5   PAYCHECK_PLACEHOLDER
6             6                 REFUND
7             7      INVESTMENT_INCOME
8             8         OTHER_BENEFITS
9             9  UNEMPLOYMENT_BENEFITS
10           10   SMALL_DOLLAR_ADVANCE
11           11                    TAX
12           12                   LOAN
13           13              INSURANCE
14           14     FOOD_AND_BEVERAGES
15           15          UNCATEGORIZED
16           16    GENERAL_MERCHANDISE
17           17             AUTOMOTIVE
18           18              GROCERIES
19           19               ATM_CASH
20           20          ENTERTAINMENT
21           21                 TRAVEL
22           22     ESSENTIAL_SERVICES
23           23           ACCOUNT_FEES
24           24       HOME_IMPROVEMENT
25           25              OVERDRAFT
26           26    CREDIT_CARD_PAYMENT
27           27     HEALTHCARE_MEDICAL
28           28                   PETS
29           29              EDUCATION
30           30        GIFTS_DONATIONS
31           31        BILLS_UTILITIES
32           32               MORTGAGE
33           33       CHILD_DEPENDENTS
34           34                   RENT
35           35                   BNPL
36           36              AUTO_LOAN
37           37      BANKING_CATCH_ALL
38           38                   DEBT
39           39                FITNESS
40           40          TRANSPORATION
41           41                  LEGAL
42           42    GOVERNMENT_SERVICES
43           43         RISK_CATCH_ALL
44           44                RTO_LTO
45           45             INVESTMENT
46           46               GAMBLING
47           47     CORPORATE_PAYMENTS
48           48          TIME_OR_STUFF
49           49                PENSION

In [21]:
# account & txn count per consumer
acc_count = acc.groupby('prism_consumer_id')[['prism_account_id']].nunique()
txn_count = txn.groupby('prism_consumer_id')[['prism_transaction_id']].nunique()
both_count = acc_count.merge(txn_count, left_index=True, right_index=True)
both_count

                   prism_account_id  prism_transaction_id
prism_consumer_id
0                                 2                   408
1                                 2                   314
10                                2                   341
100                               2                   122
1000                              2                   211
...                             ...                   ...
9995                              1                   311
9996                              1                    42
9997                              1                   261
9998                              1                   220
9999                              1                   381

[12647 rows x 2 columns]

In [24]:
both_count[both_count['prism_account_id'] == 25]

                   prism_account_id  prism_transaction_id
prism_consumer_id
14525                            25                  3233

In [28]:
acc[acc['prism_consumer_id'] == '14525']

      prism_consumer_id prism_account_id account_type balance_date     balance
20513             14525            20513     CHECKING   2021-12-30    36146.48
20514             14525            20514     CHECKING   2021-12-30      848.49
20515             14525            20515     CHECKING   2021-12-30    13129.33
20516             14525            20516     CHECKING   2021-12-30     7455.07
20517             14525            20517     CHECKING   2021-12-30    66192.45
20518             14525            20518     CHECKING   2021-12-30    52568.45
20536             14525            20536     CHECKING   2021-12-30    21726.00
20537             14525            20537     CHECKING   2021-12-30    13478.40
20538             14525            20538     CHECKING   2021-12-30    95500.00
20539             14525            20539     CHECKING   2021-12-30    10895.25
20540             14525            20540     CHECKING   2021-12-30    28250.00
20541             14525            20541     CHECKING   2021-12-30   300097.68
20542             14525            20542     CHECKING   2021-12-30   401008.37
20543             14525            20543     CHECKING   2021-12-30    87606.16
20563             14525            20563     CHECKING   2021-12-30   202535.92
20564             14525            20564     CHECKING   2021-12-30    73891.12
20565             14525            20565     CHECKING   2021-12-30   161553.83
20566             14525            20566     CHECKING   2021-12-30    47552.30
20669             14525            20669     CHECKING   2021-12-30    37920.00
20670             14525            20670     CHECKING   2021-12-30   249451.83
20671             14525            20671     CHECKING   2021-12-30    11832.78
20672             14525            20672     CHECKING   2021-12-30   135263.06
20673             14525            20673     CHECKING   2021-12-30  1172394.04
20674             14525            20674     CHECKING   2021-12-30    56010.84
20675             14525            20675     CHECKING   2021-12-30   315061.93

In [32]:
acc.groupby('prism_consumer_id')[['balance_date']].nunique()

                   balance_date
prism_consumer_id
0                             1
1                             1
10                            1
100                           2
1000                          1
...                         ...
9995                          1
9996                          1
9997                          1
9998                          1
9999                          1

[13009 rows x 1 columns]

In [33]:
acc[acc['prism_consumer_id'] == '100']

     prism_consumer_id prism_account_id account_type balance_date  balance
8739               100             8739      SAVINGS   2022-12-31  1853.07
8740               100             8740     CHECKING   2021-04-30   802.40