In [1]:
import pandas as pd
import numpy as np

In [2]:
# consumer level
cons = pd.read_parquet("/uss/hdsi-prismdata/q2-ucsd-consDF.pqt")
cons.sample(10)

      prism_consumer_id evaluation_date  credit_score  DQ_TARGET
4185               4185      2021-06-01         800.0        NaN
6775               6775      2023-10-25         653.0        0.0
6389               6389      2023-01-18         656.0        0.0
11522             11522      2022-02-15         690.0        0.0
2679               2679      2021-09-01         735.0        0.0
12526             12526      2022-03-05         757.0        0.0
6680               6680      2023-08-21         542.0        0.0
8201               8201      2023-03-10         644.0        0.0
4288               4288      2022-03-01         764.0        NaN
12236             12236      2021-12-16         701.0        0.0

In [3]:
# count DQ distribution (3000 NaNs verified)
cons['DQ_TARGET'].value_counts()

DQ_TARGET
0.0    10994
1.0     1006
Name: count, dtype: int64

In [4]:
# w/ DQ only
w_dq = cons[cons['DQ_TARGET'].notna()]
# w/o DQ only
wo_dq = cons[cons['DQ_TARGET'].isna()]
# check all entries covered
assert(len(w_dq)+len(wo_dq) == len(cons))

In [5]:
# account level
acc = pd.read_parquet("/uss/hdsi-prismdata/q2-ucsd-acctDF.pqt")
acc.sample(10)

      prism_consumer_id prism_account_id account_type balance_date   balance
19309             12784            19309     CHECKING   2022-02-05   1003.35
3037                438             3037     CHECKING   2022-02-28   1774.25
754                4112              754      SAVINGS   2021-10-31  11618.11
5844               4571             5844      SAVINGS   2022-03-31     14.63
21787             13034            21787         LOAN   2022-01-03   1738.89
7499               2371             7499     CHECKING   2021-02-28   1808.37
12191              6488            12191     CHECKING   2023-07-27      0.78
4320               2803             4320      SAVINGS   2022-01-31   1600.34
22205             13883            22205      SAVINGS   2022-03-15    270.07
17999             14626            17999     CHECKING   2022-03-15    361.10

In [6]:
# account types
nan = acc['account_type'].isna().sum()
print(f'NaNs: {nan}')
acc['account_type'].value_counts()

NaNs: 0

account_type
CHECKING           15467
SAVINGS             7751
CREDIT CARD          691
LOAN                 127
LINE OF CREDIT        93
CONSUMER              73
BROKERAGE             66
CD                    45
MONEY MARKET          36
AUTO                  29
MORTGAGE              22
PREPAID               19
OTHER                 12
IRA                    9
ROTH                   5
CASH MANAGEMENT        5
401K                   4
RETIREMENT             3
STUDENT                2
HSA                    2
OVERDRAFT              2
MONEYMARKET            1
STOCK PLAN             1
HOME EQUITY            1
Name: count, dtype: int64

In [7]:
# transaction level
txn = pd.read_parquet("/uss/hdsi-prismdata/q2-ucsd-trxnDF.pqt")
txn.sample(10)

,prism_consumer_id,prism_transaction_id,category,amount,credit_or_debit,posted_date
4517195,14513,4515183,18,41.45,DEBIT,2021-08-23
1716714,8609,1714702,16,16.71,DEBIT,2023-05-22
2305627,9479,2303615,16,53.73,DEBIT,2023-07-27
4152220,14642,4150208,14,2.00,DEBIT,2021-09-10
1116323,1101,1115438,31,172.05,DEBIT,2021-05-20
428825,4934,428549,16,14.30,DEBIT,2020-12-23
5620647,13199,5618635,7,0.44,CREDIT,2021-10-01
6149320,14436,6147308,12,250.00,DEBIT,2021-11-22
1472436,9693,1470424,46,100.00,DEBIT,2023-10-02
2341791,9643,2339779,1,40.00,DEBIT,2023-03-23

In [8]:
txn[txn['prism_consumer_id'] == '3023']

,prism_consumer_id,prism_transaction_id,category,amount,credit_or_debit,posted_date
0,3023,0,4,0.05,CREDIT,2021-04-16
1,3023,1,12,481.56,CREDIT,2021-04-30
2,3023,2,4,0.05,CREDIT,2021-05-16
3,3023,3,4,0.07,CREDIT,2021-06-16
4,3023,4,4,0.06,CREDIT,2021-07-16
...,...,...,...,...,...,...
200,3023,200,39,10.91,DEBIT,2021-09-17
201,3023,201,4,81.73,DEBIT,2021-09-18
202,3023,202,16,21.85,DEBIT,2021-09-20
203,3023,203,45,25.00,DEBIT,2021-09-20
204,3023,204,45,200.00,DEBIT,2021-09-20

In [9]:
# numerical category mapping
mapping = pd.read_csv("/uss/hdsi-prismdata/q2-ucsd-cat-map.csv")
mapping.sample(5)

    category_id               category
26           26    CREDIT_CARD_PAYMENT
9             9  UNEMPLOYMENT_BENEFITS
2             2                DEPOSIT
32           32               MORTGAGE
14           14     FOOD_AND_BEVERAGES

In [10]:
mapping

    category_id               category
0             0          SELF_TRANSFER
1             1      EXTERNAL_TRANSFER
2             2                DEPOSIT
3             3               PAYCHECK
4             4          MISCELLANEOUS
5             5   PAYCHECK_PLACEHOLDER
6             6                 REFUND
7             7      INVESTMENT_INCOME
8             8         OTHER_BENEFITS
9             9  UNEMPLOYMENT_BENEFITS
10           10   SMALL_DOLLAR_ADVANCE
11           11                    TAX
12           12                   LOAN
13           13              INSURANCE
14           14     FOOD_AND_BEVERAGES
15           15          UNCATEGORIZED
16           16    GENERAL_MERCHANDISE
17           17             AUTOMOTIVE
18           18              GROCERIES
19           19               ATM_CASH
20           20          ENTERTAINMENT
21           21                 TRAVEL
22           22     ESSENTIAL_SERVICES
23           23           ACCOUNT_FEES
24           24       HOME_IMPROVEMENT
25           25              OVERDRAFT
26           26    CREDIT_CARD_PAYMENT
27           27     HEALTHCARE_MEDICAL
28           28                   PETS
29           29              EDUCATION
30           30        GIFTS_DONATIONS
31           31        BILLS_UTILITIES
32           32               MORTGAGE
33           33       CHILD_DEPENDENTS
34           34                   RENT
35           35                   BNPL
36           36              AUTO_LOAN
37           37      BANKING_CATCH_ALL
38           38                   DEBT
39           39                FITNESS
40           40          TRANSPORATION
41           41                  LEGAL
42           42    GOVERNMENT_SERVICES
43           43         RISK_CATCH_ALL
44           44                RTO_LTO
45           45             INVESTMENT
46           46               GAMBLING
47           47     CORPORATE_PAYMENTS
48           48          TIME_OR_STUFF
49           49                PENSION